'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Spell Check'
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'spell-check:toggle'
          }
        ]
      }
    ]
  }
],
'context-menu':
  '.overlayer':
    'Correct Spelling': 'spell-check:correct-misspelling'
